src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="employee-p-api-main">
        <http:listener path="${http.path}" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-p-api-config" />
        <error-handler ref="globalErrorError_Handler" />
    </flow>
    <flow name="employee-p-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employee-p-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\employees\(id):employee-p-api-config">
        <logger level="INFO" doc:name="delete Start Logger" doc:id="1784e25e-cab5-4852-8818-c97fa610ab2b" message="delete Start Logger" />
        <flow-ref doc:name="Flow Reference" doc:id="b01670b2-6cfe-45a2-a19c-d4a8bf8afff5" name="delete-implementationSub_Flow" />
        <logger level="INFO" doc:name="delete End Logger" doc:id="8ad33a16-fa2f-461d-8514-5668ab4166a0" message="delete End Logger" />
    </flow>
    <flow name="get:\employees:employee-p-api-config">
        <logger level="INFO" doc:name="get Employee Start Logger" doc:id="5826ef94-0fb5-45bb-9641-9bb1c72bbd40" message="get Employee Start Logger" />
        <flow-ref doc:name="Flow Reference" doc:id="0c819efb-3e60-4fa6-b18a-94c1d7126732" name="get-implementationSub_Flow" />
        <logger level="INFO" doc:name="get Employee End Logger" doc:id="de1a854d-e2c5-4376-93f7-6d7c303ef6a4" message="get Employee End Logger" />
    </flow>
    <flow name="get:\employees\(id):employee-p-api-config">
        <logger level="INFO" doc:name="get EmployeeById start Logger" doc:id="f9085f24-36a5-4d5e-a87b-f4f42536b0ff" message="get EmployeeById start Logger" />
        <flow-ref doc:name="Flow Reference" doc:id="38519a39-dfed-42dd-9bab-24d8b80630bb" name="get-by-id-implementationSub_Flow" />
        <logger level="INFO" doc:name="get EmployeeById End Logger" doc:id="3f44e577-0822-46f4-8d8f-4a1374a25664" message="get EmployeeById End Logger" />
    </flow>
    <flow name="post:\employees:application\json:employee-p-api-config">
        <logger level="INFO" doc:name="post start Logger" doc:id="62020caa-bc17-4e87-b74e-122a48a74c20" message="post start Logger" />
        <flow-ref doc:name="Flow Reference" doc:id="680f95eb-53f3-4d03-b984-2f365d7a67ac" name="post-implementationSub_Flow" />
        <logger level="INFO" doc:name="post End Logger" doc:id="a6b6d6a3-b068-4b70-953f-bb1e1d217b16" message="post End Logger" />
    </flow>
</mule>
